<body>

  <div *ngIf="task">
    <h2>{{task.title | uppercase}} Details</h2>
    <!--<nav><a routerLink="/edit/{{task.id}}">Edit task</a></nav>-->
    <br />
    <label for="task-statusId">Status: </label>
    <select id="task-statusId" [(ngModel)]="task.statusId">
      <option value="New"> New</option>
      <option value="InProgress"> In progress</option>
      <option value="Checking"> Checking</option>
      <option value="Done"> Done</option>
    </select>
    <div>
      <label for="task-title">Title: </label>
      <input disabled id="task-title" value="{{task.title}}" />
    </div>
    <div>
      <label for="task-description">Description: </label>
      <input disabled id="task-description" value="{{task.description}}"  />
    </div>
    <div>
      <label for="task-date">Deadline: </label>
      <input disabled id="task-date" value="{{task.date | date:'d/M/Y'}}" />
    </div>
    <div>
      <label for="task-userId">Worker: </label>
      <input disabled id="task-userId" value="{{username}}">
    </div>

    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>

</body>
