<body>

  <div *ngIf="task">
    <h2>{{task.title | uppercase}} Details</h2>
    <nav><a routerLink="/edit/{{task.id}}">Edit task</a></nav>

    <div>
      <label for="task-title">Title: </label>
      <input disabled id="task-title" [(ngModel)]="task.title" placeholder="Task's title" />
    </div>
    <div>
      <label for="task-description">Description: </label>
      <input disabled id="task-description" [(ngModel)]="task.description" placeholder="Task's description" />
    </div>
    <div>
      <label for="task-date">Deadline: </label>
      <input disabled id="task-date" [(ngModel)]="task.date" placeholder="Deadline" />
    </div>
    <div>
      <label for="task-userId">Worker: </label>
      <input disabled id="task-userId" [(ngModel)]="task.userId" placeholder="User's Id" />
    </div>

    <button (click)="goBack()">go back</button>

  </div>

</body>
