<h2>Tasks</h2>

<ul class="tasks">
  <li *ngFor="let task of tasks"
      (click)="onSelect(task)">
    <a (click)="onSelect(task)"
       routerLink="/detail/{{task.id}}" >
      <span class="badge">{{task.title}}</span>
      {{task.description}}

    </a>
    <button class="delete" title="delete task"
            (click)="delete(task)">
      x
    </button>
  </li>
</ul>


<!--
<ul class="tasks">
  <li *ngFor="let task of tasks"
      (click)="onSelect(task)">
    <a routerLink="/detail/{{task.id}}">
      <span class="badge">{{task.title}}</span> {{task.id}}
    </a>
    <button class="delete" title="delete task"
            (click)="delete(task)"> x </button>
  </li>
</ul>


-->
