  <form class="registration" [formGroup]="registrationForm" (submit)="onSubmit()">

    <!--*ngIf="registrationForm" лечение одинадцатого и выше ангуляра если не ставить восклицательные знаки-->

    <h1>REGISTRATION</h1>

  <label>
    *First Name:
    <input type="text" formControlName="firstName" />

  </label>
  <label>
    *Last Name:
    <input type="text" formControlName="lastName" />

  </label>
  <label>
    *Email:
    <input type="email" formControlName="email" />
    <small *ngIf="isControlInvalid('email')">This 'email' wrong</small>
  </label>
  <label>
    Password:
    <input type="password" formControlName="password" />
    <!--<small *ngIf="isControlInvalid('password')">A 'Password' value is required</small>-->
  </label>
  <label>
    Confirm password:
    <input type="password" formControlName="passwordConfirm" />
    <small *ngIf="isControlInvalid('passwordConfirm')">Passwords must match</small><!-- registrationForm.submit && -->
  </label>

  <button type="submit" [disabled]="!registrationForm.valid">Add</button>
  <button type="button" onclick="window.history.back()">Cancel</button>


</form>


