
<div *ngIf="task">
  <h2>{{task.title | uppercase}} Details</h2>
  
  <label  for="task-statusId">Status: </label>
  <select id="task-statusId" [(ngModel)]="task.statusId">
    <option value="task.statusId"> current is {{task.statusId}}</option>
    <option value="New"> New</option>
    <option value="InProgress"> In progress</option>
    <option value="Checking"> Checking</option>
    <option value="Done"> Done</option>
  </select>
   
  <div><span>id: </span>{{task.id}}</div>
  <div>
    <label for="task-title">Title: </label>
    <input id="task-title" [(ngModel)]="task.title" placeholder="Task's title" />
  </div>
  <div>
    <label for="task-description">Description: </label>
    <input id="task-description" [(ngModel)]="task.description" placeholder="Task's description" />
  </div>
  <div>
    <label for="task-date">Deadline:  </label>    
    <input id="task-date" placeholder="{{task.date| date:'d/M/Y'}}" type="text" onfocus="(this.type='date')" >
  </div>
  <div>
    <label for="new-task-user">Select a user for the task: </label>
    <select name="new-task-user" #user [(ngModel)]="task.userId">      
      <option *ngIf="!task.userId" value=""> Select user</option>
      <option *ngFor="let user of users"
              [value]="user.id">
        {{user.firstName}} {{user.lastName}}
      </option>
      
    </select>

  </div>

  
      <button (click)="goBack()">go back</button>
      <button (click)="save()">save</button>
      <button (click)="delete()">delete</button>
</div>

  
